# Prefer one of these options:
# 1) Single URI
mongodb+srv://Philander:<db_password>@philander.xycanhm.mongodb.net/?appName=Philander

# 2) Split variables (password can be plain; app builds URI safely)
# MONGODB_USER=<username>
# MONGODB_PASS=<password>
# MONGODB_HOST=<cluster-host>
# MONGODB_DB=zerowaste_db
# MONGODB_APP_NAME=ZeroWasteBites
